In [1]:
#percobaan awal
import paramiko

hostname = "192.168.50.10"
username = "admin"
password = "welcome1"



commands = [
    "pwd",
    "id",
    "uname -a",
    "df -kh"
]


# initialize the SSH client
client = paramiko.SSHClient()
# add to known hosts
client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
try:
    client.connect(hostname=hostname, username=username, password=password)
except:
    print("[!] Cannot connect to the SSH Server")
    exit()
    
    
# execute the commands
for command in commands:
    print("="*50, command, "="*50)
    stdin, stdout, stderr = client.exec_command(command)
    print(stdout.read().decode())
    err = stderr.read().decode()
    if err:
        print(err)

================================================== pwd ==================================================
/home/admin

================================================== id ==================================================
uid=1000(admin) gid=1000(admin) groups=1000(admin),10(wheel) context=unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023

================================================== uname -a ==================================================
Linux localhost.localdomain 4.18.0-147.5.1.el8_1.x86_64 #1 SMP Wed Feb 5 02:00:39 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

================================================== df -kh ==================================================
Filesystem           Size  Used Avail Use% Mounted on
devtmpfs             395M     0  395M   0% /dev
tmpfs                411M  8.0K  411M   1% /dev/shm
tmpfs                411M  5.7M  406M   2% /run
tmpfs                411M     0  411M   0% /sys/fs/cgroup
/dev/mapper/cl-root  6.2G  1.5G  4.7G  25% /
/dev/sda1            976M  190M  720M  21% /boot
tmpfs                 83M     0   83M   0% /run/user/1000

In [1]:
import paramiko
import pyperclip
import pandas as pd

hostname = "192.168.50.10"
username = "admin"
password = "welcome1"

commands = ["df -kh"]

# initialize the SSH client
client = paramiko.SSHClient()
# add to known hosts
client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
try:
    client.connect(hostname=hostname, username=username, password=password)
except:
    print("[!] Cannot connect to the SSH Server")
    exit()
    
# execute the commands
for command in commands:
    stdin, stdout, stderr = client.exec_command(command)
    print(stdout.read().decode())
    err = stderr.read().decode()
    
    if err:
        print(err)

Filesystem           Size  Used Avail Use% Mounted on
devtmpfs             395M     0  395M   0% /dev
tmpfs                411M  8.0K  411M   1% /dev/shm
tmpfs                411M  5.7M  406M   2% /run
tmpfs                411M     0  411M   0% /sys/fs/cgroup
/dev/mapper/cl-root  6.2G  1.5G  4.7G  25% /
/dev/sda1            976M  190M  720M  21% /boot
tmpfs                 83M     0   83M   0% /run/user/1000

In [3]:
df = stdin, stdout, stderr = client.exec_command(command)
a = stdout.read().decode()
pyperclip.copy(a)
pd.read_clipboard()

            Filesystem  Size  Used Avail Use%         Mounted  on
0             devtmpfs  395M     0  395M   0%            /dev NaN
1                tmpfs  411M  8.0K  411M   1%        /dev/shm NaN
2                tmpfs  411M  5.6M  406M   2%            /run NaN
3                tmpfs  411M     0  411M   0%  /sys/fs/cgroup NaN
4  /dev/mapper/cl-root  6.2G  1.5G  4.7G  25%               / NaN
5            /dev/sda1  976M  190M  720M  21%           /boot NaN
6                tmpfs   83M     0   83M   0%  /run/user/1000 NaN

## SSH & Run Shell Commands

In [1]:
import os
import paramiko
import pandas as pd

def sshserver (username, password, hostname, port):
    command = "df -h"
    client = paramiko.SSHClient()
    client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    client.connect(hostname, port, username, password)
    stdin, stdout, stderr = client.exec_command(command)
    a = stdout.readlines()
    return a
    
serv = sshserver("admin","welcome1","192.168.50.10", 22)
serv

['Filesystem           Size  Used Avail Use% Mounted on\n',
 'devtmpfs             395M     0  395M   0% /dev\n',
 'tmpfs                411M  8.0K  411M   1% /dev/shm\n',
 'tmpfs                411M  5.7M  406M   2% /run\n',
 'tmpfs                411M     0  411M   0% /sys/fs/cgroup\n',
 '/dev/mapper/cl-root  6.2G  1.5G  4.7G  25% /\n',
 '/dev/sda1            976M  190M  720M  21% /boot\n',
 'tmpfs                 83M     0   83M   0% /run/user/1000\n']

## Create the Dataframe

In [2]:
out_list = []
for i, val in enumerate(serv):
    out_list.append(serv[i].split())

df = pd.DataFrame(out_list)

df = df.drop(df.columns[-1],axis=1)

new_header = df.iloc[0]
df = df [1:]
df.columns = new_header
df

0           Filesystem  Size  Used Avail Use%         Mounted
1             devtmpfs  395M     0  395M   0%            /dev
2                tmpfs  411M  8.0K  411M   1%        /dev/shm
3                tmpfs  411M  5.7M  406M   2%            /run
4                tmpfs  411M     0  411M   0%  /sys/fs/cgroup
5  /dev/mapper/cl-root  6.2G  1.5G  4.7G  25%               /
6            /dev/sda1  976M  190M  720M  21%           /boot
7                tmpfs   83M     0   83M   0%  /run/user/1000

In [4]:
out_list.to_string()

AttributeError: 'list' object has no attribute 'to_string'

In [6]:
df2 = df.copy()
df2

0           Filesystem  Size  Used Avail Use%         Mounted
1             devtmpfs  395M     0  395M   0%            /dev
2                tmpfs  411M  8.0K  411M   1%        /dev/shm
3                tmpfs  411M  5.7M  406M   2%            /run
4                tmpfs  411M     0  411M   0%  /sys/fs/cgroup
5  /dev/mapper/cl-root  6.2G  1.5G  4.7G  25%               /
6            /dev/sda1  976M  190M  720M  21%           /boot
7                tmpfs   83M     0   83M   0%  /run/user/1000

In [7]:
df2.dtypes

0
Filesystem    object
Size          object
Used          object
Avail         object
Use%          object
Mounted       object
dtype: object

In [8]:
## OPSI JIKA INDEX DIMULAI DARI 0 ##

In [10]:
#opsi 2
df_2 = stdin, stdout, stderr = client.exec_command(command)
a = stdout.read().decode()
pyperclip.copy(a)
df_2 = pd.read_clipboard()
df_2

            Filesystem  Size  Used Avail Use%         Mounted  on
0             devtmpfs  395M     0  395M   0%            /dev NaN
1                tmpfs  411M  8.0K  411M   1%        /dev/shm NaN
2                tmpfs  411M  5.7M  406M   2%            /run NaN
3                tmpfs  411M     0  411M   0%  /sys/fs/cgroup NaN
4  /dev/mapper/cl-root  6.2G  1.5G  4.7G  25%               / NaN
5            /dev/sda1  976M  190M  720M  21%           /boot NaN
6                tmpfs   83M     0   83M   0%  /run/user/1000 NaN

In [11]:
df_2 = df_2.drop('on', 1)
df_2

            Filesystem  Size  Used Avail Use%         Mounted
0             devtmpfs  395M     0  395M   0%            /dev
1                tmpfs  411M  8.0K  411M   1%        /dev/shm
2                tmpfs  411M  5.7M  406M   2%            /run
3                tmpfs  411M     0  411M   0%  /sys/fs/cgroup
4  /dev/mapper/cl-root  6.2G  1.5G  4.7G  25%               /
5            /dev/sda1  976M  190M  720M  21%           /boot
6                tmpfs   83M     0   83M   0%  /run/user/1000


## The function of converting memory into bytes

In [12]:
def func_Memory(x):
    """ function for Memory related columns"""
    if x[-1:] == "K":
        return int(float(x[:-1]) * 1024)
    elif x[-1:] == "M":
        return int(float(x[:-1]) * 1024**2)
    elif x[-1:] == "G":
        return int(float(x[:-1]) * 1024**3)
    elif x[-1:] == "T":
        return int(float(x[:-1]) * 1024**4)
    else: return int(x)


df2["Size"] = df2["Size"].apply(func_Memory)
df2["Used"] = df2["Used"].apply(func_Memory)
df2["Avail"] = df2["Avail"].apply(func_Memory)

df2

,Filesystem,Size,Used,Avail,Use%,Mounted
1,devtmpfs,414187520,0,414187520,0%,/dev
2,tmpfs,430964736,8192,430964736,1%,/dev/shm
3,tmpfs,430964736,5976883,425721856,2%,/run
4,tmpfs,430964736,0,430964736,0%,/sys/fs/cgroup
5,/dev/mapper/cl-root,6657199308,1610612736,5046586572,25%,/
6,/dev/sda1,1023410176,199229440,754974720,21%,/boot
7,tmpfs,87031808,0,87031808,0%,/run/user/1000

In [13]:
def func_Memory(x):
    """ function for Memory related columns"""
    if x[-1:] == "K":
        return int(float(x[:-1]) * 1024)
    elif x[-1:] == "M":
        return int(float(x[:-1]) * 1024**2)
    elif x[-1:] == "G":
        return int(float(x[:-1]) * 1024**3)
    elif x[-1:] == "T":
        return int(float(x[:-1]) * 1024**4)
    else: return int(x)


df_2["Size"] = df_2["Size"].apply(func_Memory)
df_2["Used"] = df_2["Used"].apply(func_Memory)
df_2["Avail"] = df_2["Avail"].apply(func_Memory)

df_2

,Filesystem,Size,Used,Avail,Use%,Mounted
0,devtmpfs,414187520,0,414187520,0%,/dev
1,tmpfs,430964736,8192,430964736,1%,/dev/shm
2,tmpfs,430964736,5976883,425721856,2%,/run
3,tmpfs,430964736,0,430964736,0%,/sys/fs/cgroup
4,/dev/mapper/cl-root,6657199308,1610612736,5046586572,25%,/
5,/dev/sda1,1023410176,199229440,754974720,21%,/boot
6,tmpfs,87031808,0,87031808,0%,/run/user/1000

In [14]:
row3 = df_2.iloc[2]
row3

Filesystem        tmpfs
Size          430964736
Used            5976883
Avail         425721856
Use%                 2%
Mounted            /run
Name: 2, dtype: object

In [15]:
row3_ = df2.iloc[2]
row3_

0
Filesystem        tmpfs
Size          430964736
Used            5976883
Avail         425721856
Use%                 2%
Mounted            /run
Name: 3, dtype: object

In [16]:
row3_string = row3.to_string()
row3_string

'Filesystem        tmpfs\nSize          430964736\nUsed            5976883\nAvail         425721856\nUse%                 2%\nMounted            /run'

In [17]:
#gajadi dipake, karena merubah semua nilai 0
row3_string_ = row3_.to_string().replace('0','')
row3_string_

'\nFilesystem        tmpfs\nSize          43964736\nUsed            5976883\nAvail         425721856\nUse%                 2%\nMounted            /run'

In [18]:
#export to word doc for only 3rd row server monitoring
import docx
import pandas as pd

doc = docx.Document()

doc.add_paragraph(row3_string)

doc.save('row3.docx')

In [ ]:
#TUGAS DOC KA SANTY

In [107]:
#tugas no.1 (Row 1 tanpa table)
row1 = df_2.iloc[[0]]
row1

  Filesystem       Size  Used      Avail Use% Mounted
0   devtmpfs  414187520     0  414187520   0%    /dev

In [102]:
row1_string = row1.to_string()
row1_string

'  Filesystem       Size  Used      Avail Use% Mounted\n0   devtmpfs  414187520     0  414187520   0%    /dev'

In [103]:
row1_string = row1.to_string().replace(' ', '    ')
row1_string

'        Filesystem                            Size        Used                        Avail    Use%    Mounted\n0            devtmpfs        414187520                    0        414187520            0%                /dev'

In [20]:
#tugas no.2
df_tmpfs = df2[(df2['Filesystem'] == 'tmpfs')]
df_tmpfs

0 Filesystem       Size     Used      Avail Use%         Mounted
2      tmpfs  430964736     8192  430964736   1%        /dev/shm
3      tmpfs  430964736  5976883  425721856   2%            /run
4      tmpfs  430964736        0  430964736   0%  /sys/fs/cgroup
7      tmpfs   87031808        0   87031808   0%  /run/user/1000

In [21]:
#tugas no.3
row4 = df_2.iloc[3]
row4

Filesystem             tmpfs
Size               430964736
Used                       0
Avail              430964736
Use%                      0%
Mounted       /sys/fs/cgroup
Name: 3, dtype: object

In [22]:
row4_string = row4.to_string()
row4_string

'Filesystem             tmpfs\nSize               430964736\nUsed                       0\nAvail              430964736\nUse%                      0%\nMounted       /sys/fs/cgroup'

In [146]:
#create file word server monitoring dari ka santy
import docx
import pandas as pd
from docx.enum.table import WD_TABLE_ALIGNMENT


doc = docx.Document()

doc.add_paragraph('1. Row 1')
table = doc.add_table(row1.shape[0]+1, row1.shape[1])
for j in range(row1.shape[-1]):
    table.cell(0,j).text = row1.columns[j]
for i in range(row1.shape[0]):
    for j in range(row1.shape[-1]):
        table.cell(i+1,j).text = str(row1.values[i,j])
        table.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT

doc.add_paragraph('')
doc.add_paragraph('2. Data Filesystem tmpfs')
table = doc.add_table(df_tmpfs.shape[0]+1, df_tmpfs.shape[1])
#table header
for j in range(df_tmpfs.shape[-1]):
    table.cell(0,j).text = df_tmpfs.columns[j]
#table value
for i in range(df_tmpfs.shape[0]):
    for j in range(df_tmpfs.shape[-1]):
        table.cell(i+1,j).text = str(df_tmpfs.values[i,j])
        table.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
table.style = 'TableGrid'

doc.add_paragraph('')
doc.add_paragraph('3. Row 4')
doc.add_paragraph(row4_string)

doc.save('Tugas Report Server_new.docx')

In [61]:
#melengkapi file word server monitoring dari ka santy
import docx
import pandas as pd
from docx.enum.table import WD_TABLE_DIRECTION
from docx.enum.table import WD_TABLE_ALIGNMENT
from docx.shared import Inches

doc = docx.Document()
doc = docx.Document('Report Server.docx')

#no.1
table = doc.add_table(row1.shape[0]+1, row1.shape[1])
#table header
for j in range(row1.shape[-1]):
    table.cell(0,j).text = row1.columns[j]
#table value
for i in range(row1.shape[0]):
    for j in range(df_tmpfs.shape[-1]):
        table.cell(i+1,j).text = str(row1.values[i,j])
        table.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT

#no.2
tbl = doc.tables

newcolumn = tbl[0]
#newcolumn.add_column(Inches(6.0))
##newcolumn.cell(0,1).text = df_price_upd

##header table
#for j in range(df_price_upd.shape[-1]):
#    newcolumn.cell(0,1).text = df_price_upd.columns[j]

##table values
for i in range(df_tmpfs.shape[0]):
    for j in range(df_tmpfs.shape[-1]):
        newcolumn.cell(i+1,j).text = str(df_tmpfs.values[i,j])

doc.save('Report Server_update.docx')

In [160]:
import win32com.client as win32
word = win32.Dispatch("Word.Application")
word.Visible = 0
word.Documents.Open("Report Server.docx")
doc = word.ActiveDocument

In [161]:
#To see how many tables your document 
doc.Tables.Count

1

In [162]:
#select the table you want by its index.
table = doc.Tables(1)

In [167]:
#To get its content:
table.Cell(Row =1, Column =1).Range.Text

'File system\r\x07'

In [46]:
#konsep
import itertools
from docxtpl import DocxTemplate
from docx.shared import Cm,Inches
from docx.enum.table import WD_TABLE_DIRECTION

doc = DocxTemplate("Report Server.docx")
context = {'row1':row1, 'tmpfs':df_tmpfs}

for row, col in itertools.product(row1.index, row1.columns):
    context[f'{row}_{col}'] = row1.loc[row, col]

for row, col in itertools.product(df_tmpfs.index, df_tmpfs.columns):
    context[f'{row}_{col}'] = df_tmpfs.loc[row, col]

for paragraph in doc.paragraphs:
    if 'File system 	:' in paragraph.text:
        print(paragraph.text)
        paragraph.text = paragraph.text + 'XXX'
    elif 'Size 		:' in paragraph.text:
        paragraph.text = paragraph.text + 'XXX'
    elif 'Used		:' in paragraph.text:
        paragraph.text = paragraph.text + 'XXX'
    elif 'Avail		:' in paragraph.text:
        paragraph.text = paragraph.text + 'XXX'
    elif 'Use %		:' in paragraph.text:
        paragraph.text = paragraph.text + 'XXX'
    elif 'Mounted	:' in paragraph.text:
        paragraph.text = paragraph.text + 'XXX'

doc.render(context)
doc.save("Report Server_update.docx")

File system 	:

In [ ]:
#konsep
import docx
from docx.shared import Cm, Inches
from docx.enum.table import WD_TABLE_DIRECTION
from docx.enum.table import WD_TABLE_ALIGNMENT

#read existing document
doc = docx.Document('Report Server_2.docx')

table = doc.tables

tbl0 = table[0]

#print(doc.paragraphs[0].text)
#doc.paragraphs[1].text = row1_string
#doc.paragraphs[1].paragraph_format.alignment = WD_TABLE_ALIGNMENT.LEFT

#table = doc.add_table(row1.shape[0]+1, row1.shape[1])
##table header
for j in range(row1.shape[-1]):
    tbl0.cell(0,j).text = row1.columns[j]
## table value
for i in range(row1.shape[0]):
    tbl0.add_row()
    for j in range(row1.shape[-1]):
        tbl0.cell(i+1,j).text = str(row1.values[i,j])
        tbl0.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl0.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl0.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl0.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT


tbl = table[1]

#table header
#for j in range(df_tmpfs.shape[-1]):
#    tbl.cell(0,j).text = df_tmpfs.columns[j]

#table value
for i in range(df_tmpfs.shape[0]):
    tbl.add_row()
    for j in range(df_tmpfs.shape[-1]):
        tbl.cell(i+1,j).text = str(df_tmpfs.values[i,j])
        tbl.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        

for paragraph in doc.paragraphs:
    if 'File system 	:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + df_2['Filesystem'].iloc[3]
    elif 'Size 		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Size'].iloc[3])
    elif 'Used		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Used'].iloc[3])
    elif 'Avail		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Avail'].iloc[3])
    elif 'Use %		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Use%'].iloc[3])
    elif 'Mounted	:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + df_2['Mounted'].iloc[3]

doc.save("Report Server_update.docx")

In [189]:
from docx import Document
from docx.shared import Inches
from docx.shared import Cm, Inches
from docx.enum.table import WD_TABLE_DIRECTION
from docx.enum.table import WD_TABLE_ALIGNMENT

#read existing document
doc = Document('Report Server_2.docx')

table = doc.tables

tbl0 = table[0]

#table = doc.add_table(row1.shape[0]+1, row1.shape[1])
##table header
for j in range(row1.shape[-1]):
    tbl0.cell(0,j).text = row1.columns[j]
## table value
for i in range(row1.shape[0]):
    tbl0.add_row()
    for j in range(row1.shape[-1]):
        tbl0.cell(i+1,j).text = str(row1.values[i,j])
        tbl0.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl0.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl0.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl0.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT


tbl = table[1]

#table header
#for j in range(df_tmpfs.shape[-1]):
#    tbl.cell(0,j).text = df_tmpfs.columns[j]

#table value
for i in range(df_tmpfs.shape[0]):
    tbl.add_row()    
    for j in range(df_tmpfs.shape[-1]):
        tbl.cell(i+1,j).text = str(df_tmpfs.values[i,j])
        tbl.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        tbl.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        

for paragraph in doc.paragraphs:
    if 'File system 	:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + df_2['Filesystem'].iloc[3]
    elif 'Size 		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Size'].iloc[3])
    elif 'Used		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Used'].iloc[3])
    elif 'Avail		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Avail'].iloc[3])
    elif 'Use %		:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + str(df_2['Use%'].iloc[3])
    elif 'Mounted	:' in paragraph.text:
        paragraph.text = paragraph.text + ' ' + df_2['Mounted'].iloc[3]

doc.save("Report Server_update.docx")

In [124]:
df_tmpfs.shape[0]

4

## Export to Word

In [8]:
from docx import Document   #Import the Document
from docx.shared import Inches   #Import Inches, used to set width, height etc
from docx.shared import Pt   #Import Pt, used to font etc
document = Document()

In [21]:
import docx
import pandas as pd

doc = docx.Document()

doc.add_heading('Server Monitoring', level=2)
doc.add_paragraph('The following is server monitoring of memory usage')

table = doc.add_table(df2.shape[0]+1, df2.shape[1])

for j in range(df2.shape[-1]):
    table.cell(0,j).text = df2.columns[j]
for i in range(df2.shape[0]):
    for j in range(df2.shape[-1]):
        table.cell(i+1,j).text = str(df2.values[i,j])

table.style = 'LightShading-Accent1'
doc.save('Server Monitoring.docx')

C:\Users\karin\Anaconda3\lib\site-packages\docx\styles\styles.py:139: UserWarning: style lookup by style_id is deprecated. Use style name as key instead.
  return self._get_style_id_from_style(self[style_name], style_type)

In [203]:
#with align right on numeric column
import docx
import pandas as pd
from docx.enum.table import WD_TABLE_ALIGNMENT

doc = docx.Document()

doc.add_heading('Server Monitoring', level=2)
doc.add_paragraph('The following is server monitoring of memory usage')

table = doc.add_table(df2.shape[0]+1, df2.shape[1])

for j in range(df2.shape[-1]):
    table.cell(0,j).text = df2.columns[j]
for i in range(df2.shape[0]):
    for j in range(df2.shape[-1]):
        table.cell(i+1,j).text = str(df2.values[i,j])
        table.cell(i+1,1).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,2).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,3).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT
        table.cell(i+1,4).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.RIGHT

table.style = 'LightShading-Accent1'
doc.save('Server Monitoring.docx')

In [36]:
#import timeit
#start= timeit.default_timer()

df3 = df.copy()
def convert_memory(x):
    
    conv = {
        'K': 1024,
        'M': 1024**2,
        'G': 1024**3,
        'T': 1024**4
    }
    
    for suffix in conv:
        if x.endswith(suffix):
            return int(float(x[0:-len(suffix)]) * conv[suffix])
        elif x.endswith(('0','1','2','3','4','5','6','7','8','9')):
            return int(x)
        
df3['Size'] = df3['Size'].apply(convert_memory)
df3['Used'] = df3['Used'].apply(convert_memory)
df3['Avail'] = df3['Avail'].apply(convert_memory)
df3

#stop=timeit.default_timer()
#print('Time: ', stop - start)

,Filesystem,Size,Used,Avail,Use%,Mounted
1,devtmpfs,414187520,0,414187520,0%,/dev
2,tmpfs,430964736,8192,430964736,1%,/dev/shm
3,tmpfs,430964736,5976883,425721856,2%,/run
4,tmpfs,430964736,0,430964736,0%,/sys/fs/cgroup
5,/dev/mapper/cl-root,6657199308,1610612736,5046586572,25%,/
6,/dev/sda1,1023410176,199229440,754974720,21%,/boot
7,tmpfs,87031808,0,87031808,0%,/run/user/1000

In [176]:
def func_Memory(x):
    """ function for Memory related columns"""
    if x[-1:] == "K":
        return float(x[:-1]) * 1024
    elif x[-1:] == "M":
        return float(x[:-1]) * 1024 * 1024
    elif x[-1:] == "G":
        return float(x[:-1]) * 1024 * 1024 * 1024
    elif x[-1:] == "T":
        return float(x[:-1]) * 1024 * 1024 * 1024 * 1024
    else: return x



df["Size"] = df["Size"].apply(func_Memory)
df["Used"] = df["Used"].apply(func_Memory)
df["Avail"] = df["Avail"].apply(func_Memory)

df

,Filesystem,Size,Used,Avail,Use%,Mounted
1,devtmpfs,4.141875e+08,0,4.141875e+08,0%,/dev
2,tmpfs,4.309647e+08,8192,4.309647e+08,1%,/dev/shm
3,tmpfs,4.309647e+08,6.1866e+06,4.246733e+08,2%,/run
4,tmpfs,4.309647e+08,0,4.309647e+08,0%,/sys/fs/cgroup
5,/dev/mapper/cl-root,6.657199e+09,1.61061e+09,5.046587e+09,25%,/
6,/dev/sda1,1.023410e+09,1.99229e+08,7.549747e+08,21%,/boot
7,tmpfs,8.703181e+07,0,8.703181e+07,0%,/run/user/1000

In [35]:
import re
re.split('(\d+)',df['Avail'].values[0])
type(df['Avail'])

pandas.core.series.Series

In [41]:
s = df['Avail']

for i,v in s.items():
    print (re.split('(\d+)',v))

['', '395', 'M']
['', '411', 'M']
['', '406', 'M']
['', '411', 'M']
['', '4', '.', '7', 'G']
['', '720', 'M']
['', '83', 'M']

In [82]:
df=df.rename(columns = {'Size':'Size (bytes)','Used':'Used (bytes)','Avail':'Avail (bytes)'})
df

,Filesystem,Size (bytes),Used (bytes),Avail (bytes),Use%,Mounted
1,devtmpfs,4.141875e+08,0,4.141875e+08,0%,/dev
2,tmpfs,4.309647e+08,8192,4.309647e+08,1%,/dev/shm
3,tmpfs,4.309647e+08,5.97688e+06,4.257219e+08,2%,/run
4,tmpfs,4.309647e+08,0,4.309647e+08,0%,/sys/fs/cgroup
5,/dev/mapper/cl-root,6.657199e+09,1.61061e+09,5.046587e+09,25%,/
6,/dev/sda1,1.023410e+09,1.99229e+08,7.549747e+08,21%,/boot
7,tmpfs,8.703181e+07,0,8.703181e+07,0%,/run/user/1000